/* ==UserStyle==
@name           ha colon furry
@namespace      Freeplay
@version        1.0.0
@description    A new userstyle
@author         Freeplay (https://freeplay.codeberg.page/)
==/UserStyle== */

@-moz-document domain("gdcolon.com") {
	#furry {
		font-size: 0 !important;
	}
	#furry::before {
		content: "Yes." !important;
		font-size: 250px !important;
	}
}