/* ==UserStyle==
 -- THEME STUFF --
@name           Freeplay's Mastodon Snippets
@version        1.0.0
@description    (Every snippet toggleable) Full Dark, Emoji Zoom, and more!
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/Freeplays_Mastodon_Snippets.user.css

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://pages.codeberg.org/freeplay/)
@homepageURL    https://codeberg.org/Freeplay/UserStyles
@supportURL     https://codeberg.org/Freeplay/UserStyles/issues
@preprocessor   stylus

 -- OPTIONS STUFF --
@var checkbox emojiZoom    "EMOJI ZOOM - Hover over an emoji to enlarge" 1
@var number emojiZoom_Size "EMOJI ZOOM - Zoom Scale" 7

@var checkbox emojipicker "LARGER EMOJI PICKER" 1
@var text emojipicker_emoji "Emoji Picker Emois Size" 50px

@var checkbox fullImage "Display full image on posts" 1

@var checkbox rethink "Replace 'Delete & Re-Draft' with 'Delete & Rethink your choices'" 1

@var checkbox fullDark "FULL DARK  -  Change light elements to darker ones (Works best with Default mastodon theme)" 1

==/UserStyle== */

@-moz-document domain("mstdn.social"), domain("mastodon.social") {
	if emojiZoom {
		.status__content {
			overflow: visible;
		}
		.status__content .emojione {
			transition: transform .05s;
		}
		.status__content .emojione:hover {
			transform: scale( emojiZoom_Size );
			z-index: 100;
			transition: transform .2s .5s;
		}
	}
	
	
	if emojipicker {
		.emoji-picker-dropdown__menu {
			top: 0px !important;
			left: 20px !important;
			position: fixed;
		}
		.emoji-mart {
			width: 100% !important;
			height: 100vh !important;
			max-height: 100vh !important;
		}
		.emoji-mart-scroll {
			height: calc(100% - 100px);
			max-height: none;
		}
	}
	.emoji-mart-category  .emoji-mart-emoji > span {
		width: emojipicker_emoji !important;
		height: emojipicker_emoji !important;
	}
	
	
	if fullImage {
		.media-gallery {
			height: 100% !important;
			align-items: center;
			background-color: rgba(255,255,255,0.1);
		}
		.media-gallery__item-thumbnail img, .media-gallery__item-gifv-thumbnail {
			object-fit: contain;
			top: 0;
			transform: none !important;
			max-height: 60vh;
		}
	}
	
	
	if rethink {
		.dropdown-menu__item:last-child > a[data-index="9"] {
		font-size: 0;
		}
		.dropdown-menu__item:last-child > a[data-index="9"]::before {
			font-size: 13px;
			content: "Delete & re-think your choices";
		}
	}
	
	
	if fullDark {
		/* Not sure if this is the best way of doing this, but I've done it like this anyways. ngl, This is not great looking */
		textarea, input, select,
		.compose-form__modifiers, .compose-form__autosuggest-wrapper, /* Compose Form */
		.privacy-dropdown__dropdown, /* Privacy Dropdown */
		.reply-indicator, .reply-indicator > *, .reply-indicator__display-name, .reply-indicator__content a, /* Reply Preview */
		.dropdown-menu, .dropdown-menu__item a, /* Regular Dropdown */
		.emoji-picker-dropdown__menu, .emoji-mart-search, .emoji-mart-scroll, .emoji-mart-category-label span {
			background-color: #313543 !important;
			background: #313543 !important;
			color: white !important;
		}
		.dropdown-menu__item a:active, .dropdown-menu__item a:focus, .dropdown-menu__item a:hover {
			background: #2b90d9 !important;
		}

		.compose-form__buttons-wrapper, .emoji-mart-bar {
			background: #242731 !important;
			border: none;
		}

		.privacy-dropdown__option > div, .privacy-dropdown__option__content strong /* Privacy Dropown Options */{
			color: white !important;
		}
		.button-secondary {
			color: #9baec8 !important;
		}
		.dropdown-menu__separator {
			border-color: #ffffff50 !important;
		}
		.dropdown-menu__arrow {
			border-color: #313543 !important;
		}
		input {
			background-color: #282c37 !important;
			background: #282c37 !important;
			color: white !important;
			border: none !important;
		}
	}
}