/* ==UserStyle==
 -- THEME STUFF --
@name           Lemmy | Modernised [Now Customizable!]
@version        1.2.6.1
@description    [PAUSING UPDATES FOR NOW] A customizable, modernised version of Lemmy, A (soon to be) Federated Reddit Alternative. Should work with *most* builtin themes
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/lemmy-modernised.user.css

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://pages.codeberg.org/freeplay/)
@preprocessor   stylus
@homepageURL    https://codeberg.org/Freeplay/UserStyles
@supportURL     https://codeberg.org/Freeplay/UserStyles/issues

 -- OPTIONS --
@var checkbox fixedHeader "Fixed Header" 1
@var select stickySidebar "Sidebar Behavior" ["disabled:Disabled","scrollbar:Scrollbar*","stickyBottom:Stick to bottom"]
@var checkbox maxWidth "Max-Width on posts" 1
@var checkbox maxWidthFeed "Max-Width on feeds" 0
@var checkbox box "Boxes around feeds and posts" 1
@var checkbox commentBox "Boxes around comments" 1
@var checkbox boxColoring "Box coloring" 0
@var checkbox removeHeaders "Remove unecessary headers" 1

==/UserStyle== */

/* Jul, 29 / 20 - 2.2.6
- Responsiveness / layout improvements
- Proper Userstyle metadata
- Changed 'Sticky Sidebar' option name to 'Sidebar Behavior'
/* Jul, 23 / 20 - 1.2.5 - Recommended lemmy v0.7.28 and up
- Changes to make it work with the layout changes
- Added new 'Box coloring' option
- Fixes boxes around posts on profile page
- Added 'Remove unecessary headers' option
*/
/* Jul, 14 / 20
- Added Stick To Bottom option to Sticky Sidebar (Scroll down to see)
- More tweaks
*/
/* Jun, 29 / 20
- Added customization options to parts of the layout
*/
/* May, 27 / 20 - Release
- Full-Width page
- Fixed Header 
- Sticky, scrollable Sidebar
- Easier to read comments
	- Click and hold on an image to enlarge
- Better spacing on list of posts
*/
@-moz-document domain("<Change this to your server URL if you aren't already on the ones below>"), 
domain("dev.lemmy.ml"), domain("feddit.social") {
	
	.badge-light {
		background-color: var(--primary);
	}
	.offset-lg-3 {
		margin: auto;
	}
	
	
	/* Header */
		.navbar {
		if fixedHeader {
			position: sticky;
			top: 0;
			z-index: 100;
		}
		background-color: var(--light);
		min-height: 48px;
		}
	
	/* Remove unnecessary headers */
	if removeHeaders {
		.col-12.col-md-8 > h5:first-child {
			display: none;
		}
	}
	
	/* Page */
	.container.text-center {
		max-width: 1140px !important;	
	}
	.container {
		max-width: none;
		margin: auto;
	}
	.container > .row {
		justify-content: center;
	}
		if maxWidth {
			.col-md-8 {
				max-width: 65rem;
			}
		} else {
			.col-md-8 {
				max-width: none;
				width: 100%;
				flex: 1 0 66.6666666667%
			}
		}
		if maxWidthFeed {
			.container > .mb-3 ~ div > .col-md-8, .col-md-8[role="main"] {
				max-width: 65rem;
			}
			.container > .mb-3 {
				display: flex;
				justify-content: center;
			}
		} else {
			.container > .mb-3 ~ div > .col-md-8, .col-md-8[role="main"] {
				max-width: none;
				flex: 1 1 400px;
			}
		}
			if box {
				.col-md-8 > div:first-of-type:not(.mb-2) {
					if boxColoring {
						background-color: var(--light);
					}
					padding: 10px !important;
					border: 1px solid var(--secondary);
					border-radius: 0.25rem;
				}
				hr.my-3, hr.my-2 { /* hr.my-2 for versions less than 0.7.28 */
					border-top: 1px solid var(--secondary) !important;
					margin: 5px -10px !important;
				}
				hr.my-3:last-child, hr.my-2:last-child {
					display: none;
				}
				h5 ~ .mb-2 ~ div > div > div/*:first-child*/:not(.comments) > div > .row:first-child, h5 ~ .mb-2 ~ div > div > div:not(.comments) > .row:first-child {
					if boxColoring {
						background-color: var(--light);
					}
					margin: 0 !important;
					margin-bottom: 5px !important;
					padding: 5px 15px !important;
					border-radius: 0.25rem;
					border: 1px solid var(--secondary);
				}
				h5 ~ .mb-2 ~ div > div > div/*:first-child*/:not(.comments) > div > .row:last-child {
					display: none;
				}
			}
	
		
		@media only screen and (min-width: 867px) { 
				/* Posts */
				.row > .vote-bar {
					max-width: 40px;
					display: flex;
					flex-wrap: wrap;
					align-content: center;
					justify-content: center;
					min-height: 50px;
					margin-right: 5px !important;
					padding-right: 10px !important;
				}
				.row > .vote-bar ~ div {
					align-items: center;
					display: grid;
					margin: auto 0;
				}
				.row > .col-sm-2 {
					max-width: 100px !important;
					margin: 0 !important;
					padding: 0 !important;
				}
					.thumbnail {
						max-height: 60px;
					}
				.col-sm-9 {
					max-width: none;
					width: 100%;
					flex: 1 0 75%;
				}
				.details.col-12 {
					display: flex;
				}

		/* Sidebar */
		.col-md-4 { 
			max-width: /*400px*/ 350px !important;
			min-width: 305px !important;
			width: 305px;
			padding-left: 0;
			if stickySidebar == scrollbar {
				position: sticky;
				top: 0;
				if fixedHeader {
					margin-top: -78.5px;
				} 
				margin-bottom: -56px;
				height: min-content;
				max-height: 100vh !important;
				overflow-y: auto;
				overflow-x: hidden;
				scrollbar-width: thin;
				scrollbar-color: var(--primary) var(--light);
			} else if stickySidebar == stickyBottom {
				if fixedHeader {
					min-height: calc(100vh - 92px);
					max-height: 100%;
				} else {
					min-height: calc(100vh - 33.5px);
				}
				height: min-content;
				position: sticky;
				bottom: 10px;
				align-self: flex-end;
			}
		}
			.col-md-4 > * {
				scrollbar-width: thin;
			}
			if boxColoring {
				.card-body {
					background-color: var(--light);
				}
			}
			if stickySidebar == scrollbar && fixedHeader {
				.col-md-4 > div:first-child {
					margin-top: 78.5px;
				}
				.col-md-4 > div:last-child {
					padding-bottom: 55.5px;
				}	
			} else if stickySidebar == scrollbar {
				.col-md-4 {
					margin-top: -23.5px;
				}
				.col-md-4 > div:first-child {
					margin-top: 23.5px;
				}
				.col-md-4 > div:last-child {
					padding-bottom: 55.5px;
				}
			}
		
	}
		
	
	/* Post Page */
	if commentBox {	
	if boxColoring {
		.col-12 > .card-body {
			background-color: var(--secondary);
		}
	}
		.comments:first-child > .comment {
			if boxColoring {
				background-color: var(--light);
			}
			margin: 5px 0;
			padding: 0 10px !important;
			padding-right: 0 !important;
			border-radius: 0.25rem;
			border: 1px solid var(--secondary);
		}
		.comments:first-child > .comment > div {
			padding-right: 10px;
		}
		.comment {
			border-top: 1px solid var(--secondary);
		}
		.d-flex .justify-content-between .justify-content-lg-start .flex-wrap .text-muted .font-weight-bold {
			display: none;
		}
	}
	
	
	
	.md-div img {
		max-width: 200px;
		max-height: 60vh;
	}
	.md-div img:active {
		max-width: 100% !important;
	}
	p > img:not(.emoji) {
		display: block;
	}
}


















